<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Messages</h1>
    <ul id="messages">

    </ul>
    <form id="message-form" action="index.html" method="post">
      <input type="text" id="message" name="message" value="" placeholder="Message Someone">
      <input type="submit" value="Send">
    </form>
  </body>
  <!-- <script type="text/javascript" src="../src/index.js"> -->
  <script type="text/javascript" src="../src/bundles.js">
  </script>
</html>
