<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../src/test.css">
</head>
<body>
  <div id="chat-box">
  
</div>

<form id="message-form" action="index.html" method="post">
  <input type="text" id="message" name="message" value="" placeholder="Message Someone">
  <input type="submit" value="Send">
</form>
<script type="text/javascript" src="../src/test.js"></script>
</body>
</html>
